@using System.Globalization
@using Web.Models;
@using Web.Helper;
@using Web.Services
@implements IDisposable

@inject NavigationManager NavigationManager

<div>
  <nav class="w-full sm:fixed z-40 own-bg-primary text-white sm:px-8 shadow-md shadow-gray-800">
    <div class="flex flex-col sm:flex-row justify-between items-center container py-4">
      <p class="inline text-3xl sm:text-4xl font-bold text-white my-4 sm:my-0">
        Justin Urbanek
      </p>

      <div class="flex items-center gap-8">
        <div class="@($"navbar-content " + (isNavBarOpen ? "flex" : "hidden lg:block")) flex-col lg:flex-row">
          @foreach (var navLink in navLinks) {
            <NavLink
              href="@navLink.Url"
              class="navbar-btn my-2 lg:my-0 mx-2 px-4 py-2 rounded-md">
              @navLink.Name
            </NavLink>
          }

          <Select
            TValue="string"
            SelectedValue="@currentLanguage.ToString()"
            SelectedValueChanged="@OnSelectedValueChanged"
            Class="!w-20 !inline px-4 py-2 rounded-md navbar-btn"
          >
            @foreach (var language in languages) {
              <SelectItem Value="@language.ToString()">@language.TwoLetterISOLanguageName.ToUpper()</SelectItem>
            }
          </Select>
        </div>

        <Icon Name="@(!isNavBarOpen ? IconName.Bars : IconName.Times)" Class="text-[1.75rem] sm:text-[2rem] block lg:hidden" @onclick="ToggleNavBar" />
      </div>
    </div>
  </nav>
</div>


@code {
  private string? currentUrl;
  private List<NavLinkView> navLinks;
  private CultureInfo currentLanguage;
  private List<CultureInfo> languages = new();
  private bool isNavBarOpen = false;

  protected override void OnInitialized() {
    currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
    NavigationManager.LocationChanged += OnLocationChanged;

    navLinks = NavLinkViewHelper.GetNavBarLinks();

    currentLanguage = CultureService.CurrentCulture;
    languages = CultureService.SupportedCultures;

    CultureService.OnCultureChanged += StateHasChanged;
  }

  private void OnLocationChanged(object? sender, LocationChangedEventArgs e) {
    currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
    StateHasChanged();
  }

  public void Dispose() {
    NavigationManager.LocationChanged -= OnLocationChanged;
    CultureService.OnCultureChanged -= StateHasChanged;
  }

  private void ToggleNavBar() {
    isNavBarOpen = !isNavBarOpen;
  }

  private Task OnSelectedValueChanged(string value) {
    var culture = CultureInfo.GetCultureInfo(value);

    CultureService.SetCulture(culture);
    currentLanguage = culture;

    return Task.CompletedTask;
  }
}

