@using Web.Models

<div class="w-full own-bg-primary py-12">
  <div class="timeline relative container py-24 @(Class)">
    @foreach (var item in TimelineItems) {
      <div class="timeline-container @item.Classes[0]">
        <div class="content duration-500 @item.Classes[1]">
          <div class="w-full h-auto relative z-20 text-lg text-center text-white from-[#fd2c4d] to-[rgb(253, 44, 77, 28,39)] py-2 px-2 shadow-lg @item.Classes[2]">
            <Heading Size="HeadingSize.Is3" Class="w-full text-white text-center">
              @item.Year
            </Heading>
          </div>
          <div class="relative z-10 py-4 px-2 text-black text-balance bg-white ring-1 ring-medium-200 shadow-lg rounded-b-lg @item.Classes[3]">
            <p class="font-bold">
              @item.Title
            </p>
            <p class="mt-2">
              @item.Description
            </p>
          </div>
        </div>
      </div>
    }
  </div>
</div>

@code {
  [Parameter]
  public string Class { get; set; } = string.Empty;

  [Parameter]
  [EditorRequired]
  public List<TimelineItem> TimelineItems { get; set; } = default!;

  protected override void OnInitialized() {
    base.OnInitialized();

    if (TimelineItems == null) {
      throw new ArgumentNullException(nameof(TimelineItems));
    }

    for (byte i = 0; i < TimelineItems.Count; i++) {
      TimelineItems[i].Classes = new() {
        GetContainerClass(i),
        GetContentClass(i),
        GetYearContainerClass(i),
        GetDescriptionContainerClass(i)
      };
    }
  }

  private string GetContainerClass(int index) => index % 2 == 0 ? "left" : "right";
  private string GetContentClass(int index) => index % 2 == 0 ? "hover:-translate-x-2 lg:hover:translate-x-2" : "hover:-translate-x-2";
  private string GetYearContainerClass(int index) => index % 2 == 0 ? "rounded-l-full lg:rounded-l-none lg:rounded-r-full bg-gradient-to-bl lg:bg-gradient-to-br" : "rounded-l-full bg-gradient-to-bl";
  private string GetDescriptionContainerClass(int index) => index % 2 == 0 ? "mr-2 ml-8 lg:mr-8 lg:ml-2" : "mr-2 ml-8";
}
