@using Web.Models

<div class="w-full sm:w-[240px] h-[188px] bg-gray-600 p-6 rounded-lg shadow-lg text-center @(Class)">

  <div class="mb-4">
    <img src="@Icon.ImageUrl" alt="@Icon.AltText" class="h-24 w-24 mx-auto">
  </div>

  <div>
    <a href="@Icon.LinkUrl" target="_blank" rel="nofollow"
       class="p-2 rounded-lg text-lg font-medium text-blue-300 hover:text-blue-700 active:text-blue-700 bg-transparent hover:bg-white active:bg-white">
      @Icon.Description
    </a>
  </div>

</div>

@code {
  [Parameter]
  public string Class { get; set; } = string.Empty;

  [Parameter]
  [EditorRequired]
  public IconReference Icon { get; set; } = default!;
}
